<div class="page-404" id="page">
    <section class="boxed-sm section-404-wrapper">
        <div class="container">
            <div class="page-404-wrapper">
                <h3>404</h3>
                <hr class="style-one">
                <p>We are sorry but the page you are looking for does not exist. Please try searching again or click on the button below to continue exploring website.</p>
                <a class="btn btn-brand pill" href="index.html">BACK TO HOMEPAGE</a>
            </div>
        </div>
    </section>
</div>
