<div *ngIf="!producto">
    <h1 class="text-center">No hay info</h1>
</div>
<div *ngIf="producto">
    <div class="shop-detail-3 woocommerce" id="page">

        <section class="sub-header shop-detail-1">
            <img class="rellax bg-overlay" src="{{producto.img}}" alt="">
            <div class="overlay-call-to-action"></div>
            <h3 class="heading-style-3" style="color:#ccc">{{producto.name}}</h3>
        </section>
        <section class="boxed-sm">
            <div class="container">
                <div class="row product-detail">
                    <div class="row product-detail-wrapper">
                        <div class="col-md-6">
                            <div class="woocommerce-product-gallery vertical">
                                <div class="main-carousel">
                                    <div class="item">
                                        <img class="img-responsive" src="{{producto.img}}" alt="{{producto.name}} thumbnail">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="summary">
                                <div class="desc">
                                    <div class="header-desc">
                                        <h2 class="product-title">{{producto.name}} </h2>
                                        <p class="price">${{producto.price}} </p>
                                    </div>
                                    <div class="body-desc">
                                        <div class="woocommerce-product-details-short-description">
                                            <p>{{producto.info_short}} </p>
                                        </div>
                                    </div>
                                    <div class="footer-desc">
                                        <form class="cart">
                                            <div class="quantity buttons-added">
                                                <input class="minus" value="-" type="button">
                                                <input class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">
                                                <input class="plus" value="+" type="button">
                                            </div>
                                            <div class="group-btn-control-wrapper">
                                                <button class="btn btn-brand no-radius" (click)="addToCart()">ADD TO CART</button>
                                                <button class="btn btn-wishlist btn-brand-ghost no-radius">
                        <i class="fa fa-heart"></i>
                      </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-meta">
                                    <p class="posted-in" *ngFor="let cat of categories | slice:0:1; let i =index; ">Category:
                                        <a href="#" rel="tag" value="{{producto.category_id}}">{{cat.category_name}} </a>
                                    </p>

                                    <p class="id">ID:
                                        <a href="#">A203</a>
                                    </p>
                                </div>
                                <div class="widget-social align-left">
                                    <ul>
                                        <li>
                                            <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/authemes">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/authemes">
                                                <i class="fa fa-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/authemes">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/authemes">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/authemes">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="woocommerce-tabs">
                    <div class="row">
                        <div class="col-md-12 woocommerce-tabs-inner">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <ul class="tabs tab-style-2" role="tablist">
                                        <li class="active" role="presentation">
                                            <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Description</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">Additional Information</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">Review (2)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="tab-content tab-content-style-2">
                                <div class="tab-pane fade in active" id="Description" role="tabpanel">
                                    <p>{{producto.description}} </p>
                                </div>
                                <div class="tab-pane fade" id="Additional-Information" role="tabpanel">
                                    <iframe src="{{producto.video_review}}" frameborder="0"></iframe>
                                    <table class="shop_attributes table table-striped table-bordered">
                                        <tbody>
                                            <tr>
                                                <th>Creado </th>
                                                <td>
                                                    <p>{{producto.created_at}}</p>
                                                </td>
                                            </tr>
                                            <div *ngIf="producto.updated_at">
                                                <tr>
                                                    <th>Ultima actualización</th>
                                                    <td>
                                                        <p>{{producto.updated_at}}</p>
                                                    </td>
                                                </tr>
                                            </div>

                                            <tr>
                                                <th>Artículo Disponible?</th>
                                                <td>
                                                    <div *ngIf="producto.is_featured == 1">
                                                        <p>Si</p>
                                                    </div>
                                                    <div *ngIf="producto.is_featured == 0">
                                                        <p>No</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="Review" role="tabpanel">
                                    <ol class="comment-list">
                                        <li>
                                            <div class="the-comment">
                                                <div class="avatar">
                                                    <img class="avatar" alt="avatar" src="./assets/images/comment/01.png">
                                                </div>
                                                <div class="comment-box">
                                                    <div class="comment-author meta">
                                                        <p class="author">Mark Hunt</p>
                                                        <p class="time">15 March 2017</p>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>This is a test … Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit.This is a test … </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="the-comment">
                                                <div class="avatar">
                                                    <img class="avatar" alt="avatar" src="./assets/images/comment/02.png">
                                                </div>
                                                <div class="comment-box">
                                                    <div class="comment-author meta">
                                                        <p class="author">Lori Peters</p>
                                                        <p class="time">16 March 2017</p>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p>This is a reply test … </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>