<div class="banner">
    <app-slider></app-slider>
</div>



<section class="boxed-sm">
    <div class="container">
        <div class="row">
            <div class="creative-layout-post-style-1">
                <div class="post-creative-style-1 right-thumb">
                    <div class="col-sm-6">
                        <div class="desc">
                            <h3>
                                <a href="blog-detail.html">Add Green In Your Space</a>
                            </h3>
                            <p class="sapo hidden-sm hidden-xs">Sed aliquet, risus vel tincidunt vulputate, nulla purus mollis leo, eget blandit mauris odio at elit. Cras cursus aliquam laoreet. Aenean lacinia ipsum vulputate dolor tincidunt ornare. Donec vel pretium arcu. </p>
                            <a class="btn btn-brand pill" routerLink="/product">SHOP NOW</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-wrapper">
                            <a href="blog-detail.html">
                                <img class="img-responsive" src="./assets/images/blog/creative-01.jpg" alt="Image">
                            </a>
                            <h3 class="cate">
                                <strong>01 </strong>PLANT OUTDOOR</h3>
                        </div>
                    </div>
                </div>
                <div class="post-creative-style-1 left-thumb">
                    <div class="col-sm-6">
                        <div class="img-wrapper">
                            <h3 class="cate">
                                <strong>02 </strong>PLANT INDOOR</h3>
                            <a href="blog-detail.html">
                                <img class="img-responsive" src="./assets/images/blog/creative-02.jpg" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="desc">
                            <h3>
                                <a href="blog-detail.html">Decorate your house</a>
                            </h3>
                            <p class="sapo hidden-sm hidden-xs">Sed aliquet, risus vel tincidunt vulputate, nulla purus mollis leo, eget blandit mauris odio at elit. Cras cursus aliquam laoreet. Aenean lacinia ipsum vulputate dolor tincidunt ornare. Donec vel pretium arcu. </p>
                            <a class="btn btn-brand pill" routerLink="/product">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-products-featured></app-products-featured>
<app-blog-featured></app-blog-featured>