<section class="boxed-sm mt-5">
    <div class="container">
        <div class="row">
            <div class="creative-layout-post-style-1" *ngFor="let item of pages | slice:0:2">
                <div class="post-creative-style-1 right-thumb">
                    <div class="col-sm-6">
                        <div class="desc">
                            <h3>
                                <a [routerLink]="['/about', item.id]">{{item.title}}</a>
                            </h3>
                            <p class="sapo hidden-sm hidden-xs">{{item.description | slice: 0:120}} ...</p>
                            <a class="btn btn-brand pill" [routerLink]="['/about', item.id]">View</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="img-wrapper">
                            <a [routerLink]="['/about', item.id]">
                                <img class="img-responsive" src="{{item.img}}" alt="{{item.title}}">
                            </a>
                            <h3 class="cate">
                                <strong>0{{item.id}} </strong>PLANT OUTDOOR</h3>
                        </div>
                    </div>
                </div>
                <!-- <div class="post-creative-style-1 left-thumb">
                    <div class="col-sm-6">
                        <div class="img-wrapper">
                            <h3 class="cate">
                                <strong>02 </strong>PLANT INDOOR</h3>
                            <a [routerLink]="['/about', item.id]">
                                <img class="img-responsive" src="{{item.img}}" alt="{{item.title}}">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="desc">
                            <h3>
                                <a [routerLink]="['/about', item.id]">{{item.title}}</a>
                            </h3>
                            <p class="sapo hidden-sm hidden-xs"> {{item.description | slice: 0:120}} ...</p>
                            <a class="btn btn-brand pill" [routerLink]="['/about', item.id]">View</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>