<div class="shop-layout-1" id="page">

    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="./assets/images/sub-header/01.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Cursos</h3>
    </section>
    <div class="woocommerce-top-control wrapper">
        <section class="boxed-sm">
            <div class="container">
                <div class="row">
                    <div class="woocommerce-top-control">
                        <p class="woocommerce-result-count">Showing 1 - 12 of 30 results</p>
                        <form class="woocommerce-ordering select-custom-wrapper" method="get">
                            <select class="orderby select-custom-wrapper" name="orderby">
              <option value="menu_order" selected="selected">Default sorting</option>
              <option value="popularity">Sort by popularity</option>
              <option value="rating">Sort by average rating</option>
              <option value="date">Sort by newness</option>
              <option value="price">Sort by price: low to high</option>
              <option value="price-desc">Sort by price: high to low</option>
            </select>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="box-sm">
        <div class="container">
            <div class="row main">
                <div class="row product-grid-equal-height-wrapper product-equal-height-4-columns flex multi-row">
                    <figure class="item" *ngFor="let curso of cursos">
                        <div class="product product-style-1">
                            <div class="img-wrapper">
                                <a [routerLink]="['/category/cursos/', curso.cod_prod]">
                                    <img class="img-responsive" src="{{curso.img}}" alt="product thumbnail" />
                                </a>
                                <div class="product-control-wrapper bottom-right">
                                    <div class="wrapper-control-item">
                                        <a class="js-quick-view" data-toggle="modal" [attr.data-target]="'#' + curso.cod_prod">
                                            <!-- <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product"> -->
                                            <span class="lnr lnr-eye"></span>
                                        </a>
                                    </div>
                                    <div class="wrapper-control-item item-wish-list">
                                        <a class="js-wish-list js-notify-add-wish-list" href="#">
                                            <span class="lnr lnr-heart"></span>
                                        </a>
                                    </div>
                                    <div class="wrapper-control-item item-add-cart js-action-add-cart">
                                        <a class="animate-icon-cart" href="#">
                                            <span class="lnr lnr-cart"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <figcaption class="desc text-center">
                                <h3>
                                    <a class="product-name" [routerLink]="['/category/cursos/', curso.cod_prod]">{{curso.name}}</a>
                                </h3>
                                <span class="price">${{curso.price}}</span>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                <!-- paginador -->
                <div class="row">
                    <div class="col-md-12 text-right">
                        <nav>
                            <ul class="pagination pagination-style-1">
                                <li>
                                    <a class="prev page-numbers" href="#">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="page-numbers" href="#">3</a>
                                </li>
                                <li>
                                    <a class="page-numbers" href="#">4</a>
                                </li>
                                <li>
                                    <span class="page-numbers current">5</span>
                                </li>
                                <li>
                                    <a class="next page-numbers" href="#">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-modal-cursos></app-modal-cursos>